<!DOCTYPE html>
<html>
  <head>
    <title>ChatAppChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="flash-alert"  content="<%= j flash[:alert]  %>">
    <meta name="flash-notice" content="<%= j flash[:notice] %>">

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
